.cart-quantity {
    border-top: 1px solid #007bff;
    border-bottom: 1px solid #007bff;
    text-align: center;
    color: #007bff;
    padding: 0.375rem 0.75rem;
}

.order-bar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10px;
    padding: 10px;
}
