.card {
    cursor: pointer;
    padding: 0 !important;
    margin: 10px;
}

.card-body {
    cursor: default;
    position: absolute;
    bottom: 0;
    display: flex;
    background-color: #ffffffba;
    width: 100%;
    font-weight: 500;
}
