.form-control.error {
    border-color: #dc3545;
    background-color: rgb(220 53 69 / 25%);
}

.form-control.error:focus {
    border-color: #dc3545;
    box-shadow: 0 0 0 0.2rem rgb(220 53 69 / 25%);
}