body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #282c3f;
  font: 18px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.icon,
.icon:hover {
  color: #282c3f !important;
  text-decoration: none;
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

.title {
  font-size: 30px;
  font-weight: 500;
}

.sub-title {
  font-size: 20px;
}

.vertical-align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
a:hover {
  text-decoration: none !important;
}

.box {
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  padding: 10px;
  margin: 10px;
}

.req {
  color: #dc3545;
  margin-left: 3px;
}
